<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Ticket Workflow{% endblock %}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
          rel="stylesheet">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

</head>

<body>

    <div class="container-fluid">

        <div class="row">

            {% include "components/sidebar.html" %}

            <div class="col p-4">

                {% block content %}
                {% endblock %}
                
                {% with mensagens = get_flashed_messages(with_categories=true) %}

                    {% if mensagens %}

                        {% for categoria, mensagem in mensagens %}

                             <div class="alert alert-{{ categoria }} alert-dismissible fade show" role="alert">

                                 <i class="bi bi-exclamation-triangle"></i>

                                 {{ mensagem }}

                                 <button
                                     type="button"
                                     class="btn-close"
                                     data-bs-dismiss="alert">
                                 </button>

                             </div>

                        {% endfor %}

                    {% endif %}

                {% endwith %}

            </div>

        </div>

    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>